---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Order } from "../types/order";

const pageTitle = "Comandas";
const shouldDisplayActionBtn = true;
const actionText = "Abrir comanda";

const token = Astro.cookies.get("token")?.value;

const response = await fetch("http://localhost:8000/api/orders/", {
  method: "GET",
  headers: {
    Authorization: `Token ${token}`,
  },
});
const orders: Order[] = await response.json();
---

<BaseLayout {pageTitle} {shouldDisplayActionBtn} {actionText}>
  <table>
    <thead>
      <tr>
        <th>Mesa</th>
        <th>Responsável</th>
        <th>Situação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {
        orders.length === 0 ? (
          <tr>
            <td colspan="4">Nenhuma comanda encontrada.</td>
          </tr>
        ) : (
          orders.map((order) => (
            <tr>
              <td>{order.table_number}</td>
              <td>{order.responsible_name}</td>
              <td>
                {order.is_paid ? (
                  <>
                    <i
                      class="fas fa-circle"
                      style="color: red; margin-right: 0.5rem;"
                    />
                    Fechada
                  </>
                ) : (
                  <>
                    <i
                      class="fas fa-circle"
                      style="color: green; margin-right: 0.5rem;"
                    />
                    Aberta
                  </>
                )}
              </td>
              <td class="actions-cell">
                <button class="btn-action btn-edit" title="Editar">
                  <i class="fas fa-pencil-alt" />
                </button>
                <button class="btn-action btn-view" title="Ver">
                  <i class="fas fa-eye" />
                </button>
              </td>
            </tr>
          ))
        )
      }
    </tbody>
  </table>
</BaseLayout>
